* {
 box-sizing: border-box;
 scroll-behavior:smooth;
}

:root {
  --night-blue: #1A2A44;    /* Derin Gece Mavisi */
  --sunny-yellow: #FFD700;  /* Güneş Sarısı */
  --classic-beige: #Fafafa; /* Arka Plan Bej */
  --charcoal-black: #333333;/* Gövde Metni */
  --white: #FFFFFF;
  --site-contant-lg:1390px;
  --site-contant-md:700px;
  --site-contant-sm:370px;
}

html {
  font-size: clamp(0.5rem, 0.65rem + 1.5vw, 1.2rem);}

body {
margin: 0;
font-family:quicksand, sans-serif;
background-color: var(--classic-beige);
background-image:url(./assets/Hero-image.png);
background-repeat: no-repeat;
background-size:auto;
}

.navbarlistbody{background-image:unset;}

h1,h2,h3,.logo{font-family:'Caveat', sans-serif;
color:var(--night-blue);}

p{color:var(--night-blue);}

nav { display:flex;
justify-content:space-between;
align-items:center;
padding-block-start: 40px;
max-width: var(--site-contant-sm);
margin:auto;
}

#sidebarMenu {display:flex;
max-height:fit-content;
position: fixed;
right: 0;
max-width:fit-content;
transform: translateX(250px);
transition: transform 0.5s ease-in-out;
background: var(--charcoal-black);
opacity: 0.3;
border-radius:90px 0px 0px 90px;
top:90px;
}

.sidebarMenuInner li a{color:var(--white); 
}

.sidebarMenuInner li{
list-style: none;
padding:10px; 
}

.sidebarMenuInner{
display:block;
margin:0;
padding:20px 20px;  
}

input[type="checkbox"]:checked ~ #sidebarMenu {
transform: translateX(0);
}

input[type=checkbox] {
display: none;
}

.sidebarIconToggle {
background-color:var(--sunny-yellow);
position: relative; 
padding:10px 10px;
border-radius:50px 50px;
}

ul{display:none;}

li>a{padding:5px 7px;
  font-weight:400;
}

.social-media {display:none;
}
  
a{text-decoration:none;
color:var(--night-blue);
}

.logo{ 
font-size:40px;
color:var(--night-blue);     
}

.hero-image{display:block;
 padding-block-start:36rem;
}

.hero-contant{ 
text-align:center;
margin:auto;
max-inline-size: 30ch;
padding-block-end:32px;
}

p{font-size:0.7em;
font-weight: bold;
line-height: 18px;
margin-bottom:0;
}

h2{font-size:1.5em;
}

h3{margin-block: 0;
font-size:1.4em;
}

footer{display:flex;
  flex-direction:column;
  align-items:center;
  background-color:var(--charcoal-black);
  padding-block:32px; 
}

.footer-contact{display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px; 
}

.footer-social{display:flex;
flex-direction:row;
gap:12px;
}

.footer-support{align-content:center;
padding-block-start: 15px;  
}

.beige-text{color:var(--classic-beige);
}

.mail{font-size:large;}

.instagram,.youtube{
padding:8px 8px;
border-radius:50px 50px;
background-color:var(--sunny-yellow);
}

img{width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
border:5px solid var(--sunny-yellow);
}